data/*
__pycache__/
.ipynb_checkpoints/
external/
features/
doc/class_uml.gaphor
ficha_avaliacao_PFP_Guilherme_A_P_Marques.pdf
ficha_avaliacao_PFP_Guilherme_A_P_Marques.jpg
demo.mp4
prototyping/
s3_credentials.csv
