absl-py==0.10.0
av==8.0.2
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@cb7e86f821f0bedb3da8f1e0a527dd821d8e5f7e
future==0.18.2
fvcore @ git+https://github.com/facebookresearch/fvcore@1411919d5d351f5c0de4c7becbb5e7bb6c4b5b89
google-auth==1.21.2
google-auth-oauthlib==0.4.1
grpcio==1.32.0
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==1.7.0
imutils==0.5.3
joblib==0.16.0
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.3.2
mock==4.0.2
moviepy==1.0.3
numpy==1.19.2
oauthlib==3.1.0
opencv-python==4.4.0.44
packaging==20.4
pandas==1.1.2
parse==1.18.0
Pillow==7.2.0
portalocker==2.0.0
proglog==0.1.9
protobuf==3.13.0
psutil==5.7.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.5.2
simplejson==3.17.2
six==1.15.0
sklearn==0.0
-e git+https://github.com/gpmarques/SlowFast.git@c22c7c91d0dfa56dec1f733a02d331dd34492d67#egg=slowfast
tabulate==0.8.7
tensorboard==2.2.0
tensorboard-plugin-wit==1.7.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.5.0
torchvision==0.6.0
tqdm==4.49.0
urllib3==1.25.10
Werkzeug==1.0.1
yacs==0.1.8
zipp==3.1.0
